* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  background-color: lightblue;
}

.container {
  height: 60vh;
  width: 30vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.box {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
  /* transform: rotate(-90deg); */
  transform-style: preserve-3d;
  transform: rotateY(30deg);
  animation: animate 4s infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
.card {
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 100px 0;
  color: white;
  content: "";
  border: 2px solid white;
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
  background-position: center;
  background-size: cover;
}

#front {
  background-image: url("./img/black_frame.jpg");
  transform: translateZ(125px);
}
#back {
  background-image: url("./img/red_frame.jpg");
  transform: translateZ(-125px);
}

#left {
  right: 125px;
  background-image: url("./img/blue_frame.jpg");
  transform: rotateY(90deg);
}
#right {
  left: 125px;
  background-image: url("./img/yellow_frame.jpg");
  transform: rotateY(90deg);
}
#top {
  bottom: 125px;
  background-image: url("./img/green_frame.jpg");
  transform: rotateX(90deg);
}
#bottom {
  top: 125px;
  background-image: url("./img/orange_frame.jpg");
  transform: rotateX(90deg);
}
